{
  "extends": [
    "airbnb-base",
    "plugin:wdio/recommended",
    "plugin:chai-friendly/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-this-alias": "off",
    "no-restricted-syntax": 0,
    "no-await-in-loop": "off",
    "import/extensions": "off",
    "consistent-return": "off",
    "vars-on-top": "off",
    "wdio/no-pause": "off",
    "import/no-unresolved": "error",
    "lines-between-class-members": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "import/no-cycle": 0,
    "max-len": [
      2,
      {
        "code": 300
      }
    ],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "info"
        ]
      }
    ],
    "@typescript-eslint/no-shadow": ["error"],
    "no-shadow": "off",
    "no-empty-function": ["error", { "allow": ["constructors"] }],
    "prefer-destructuring": ["error", {"object": false, "array": false}],
    "no-undefined": 2,
    "no-unused-vars": 1,
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "linebreak-style": [
      "off"
    ],
    "arrow-parens": "off",
    "func-names": [
      "off"
    ],
    "no-param-reassign": [
      "off"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "prefer-arrow-callback": [
      "off"
    ],
    "dot-notation": [
      "error",
      {
        "allowPattern": "[a-zA-Z]"
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_request",
          "_method",
          "_options",
          "_allure",
          "_payload",
          "_isPayloadSet"
        ]
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      }
    }
  },
  "plugins": [
    "prettier",
    "wdio",
    "cucumber",
    "chai-friendly",
    "@typescript-eslint",
    "import"
  ],
  "globals": {}
}
